
@model ScreenSaver.Model.ImageModel
@*<section class="features-icons bg-light text-center">
    <div class="container">*@
@using (Html.BeginForm("UploadFiles", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row bg-light" style="height:150px;">
    <div class="col-md-3 pt-lg-4">
        <div class="custom-file">   
            @Html.TextBox("file", "", new { type = "file", @class = "custom-file-input", @id = "customFile", @name = "filename" })
            <label class="custom-file-label " for="customFile">Choose Image</label>
        </div>
    </div>
    <div class="col-md-3">
        <label>Time Start:</label>
        <div class='input-group date' id='datetimepicker1'>
            @Html.EditorFor(model => model.TimeFrom, new { htmlAttributes = new { @class = "form-control date-picker" } })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <label>Time End:</label>
        <div class='input-group date' id='datetimepicker2'>
            @*<input type='text' class="form-control" />*@
            @Html.EditorFor(model => model.TimeTo, new { htmlAttributes = new { @class = "form-control date-picker" } })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <input type="submit" class="btn btn-block btn-lg btn-primary btnUp" value="Upload">
    </div>
</div>
}
@*</div>
    </section>*@

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
        });
        $('#datetimepicker2').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        //if ($('.btnUp').val() != "Update") {
        $.ajax({
            url: '/Images/GetTimeFrom',
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                var thedate = new Date(res.value);
                console.log(thedate.getTime());
                $('#datetimepicker1').data("DateTimePicker").date(thedate);
            }
        });
        //$('#datetimepicker1').data("DateTimePicker").date(date);
        $('#datetimepicker2').data("DateTimePicker").date(null);
        //}
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });

    });
</script>